# swagger host FQDN or IP
SWAGGER_HOST=127.0.0.1:5000

# postgres configuration
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=registry
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_DB=postgres
